.semester-selector {
  margin-left: 52px;
  margin-top: 20px;
  width: 25.2vh;

  .semester-selector-title {
    font-size: 17px;
    color: #000;
    margin-bottom: 8px;
  }

  .semester-selector-select {
    width: 100%;
  }
}
